---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Better Use ChatGPT</span>
  </div>
  <p mt-1 op-60>基于 OpenAI API (gpt-3.5-turbo)</p>
  <p mt-1 op-60>网站后台不会记录登陆用户与ChatGPT的问答内容， 问答记录存放在用户本地浏览器缓存</p>
  <p mt-1 op-60>分享对话时服务器会临时缓存信息，但这些缓存信息并不会和你的登陆信息关联</p>
</header>
